*{
    /* background-color: #002b36; */
    color: white;
    font-family: 'Courier New', monospace;
    /* font-family: 'JetBrains Mono', monospace; */
    
    /* user-select: none; */
  
    overflow-x: hidden; 
    margin: 0;

    
  }

  *::-webkit-scrollbar {
  width: 7px;
  
}

*::-webkit-scrollbar-track {
  background: rgba(248, 51, 2, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(238, 82, 10, 0.4);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
 
  .container{
    background: transparent;
  }



  .terminal-input{
    /* color: orangered; */
    width: 150px;
  }

  .terminal-label{
    margin-top: 0;
    margin-bottom: 0;
  }

  .wrapper{
    background: none;
    background-color: transparent;
    margin-top: 0;
    justify-content: space-between;
  }

  .about{
    background: #2d2d2d;
    color: red;
  }
  .contents{
    background: none;
    background-color: transparent;
  }

html{
  background: linear-gradient(to top, #000000,#000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px;
  
 

/* retro stuff */
  color: orange;
  font-family: "Courier New", monospace;
  text-shadow: 0 0 10px orange;
  filter: blur(.5px);
}


@media screen{
  html {
    animation: scanlines infinite 55s linear ;
  }
} 
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

.contents > li{
  background: none;
}
.rendered-notes *{
  background: none !important;
  background-color: transparent !important;
  font-size: 9px;

}

.rendered-notes img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 100%;
  height: auto;
}

.neo{
  display: flex;
  justify-content: space-around;
}

.ascii-half{
  border: 1px dashed;
  width: 50%;
  height: 10rem;
  overflow: hidden;
}

.error-div{
  font-size: 9px;
}