html,
body
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e8e4cd;
    /* background: #f7b77c; */
    color: black;
    user-select: none;
    font-family: 'Space Mono', monospace;
    /* font-family: "Roboto", serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.dark-mode{
    background: #3a3a3a;
    color: white;
}




.frame{
    height: 170px;
    width: 280px;
    border: 2px solid rgb(53, 51, 51);
    
    
}



.container{
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 4rem;
    font-size: .5rem;
    /* border: .1px solid black; */
    width: auto;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(233, 232, 231, 0.3); */
} 

.container > div{
    text-align: center;
    padding: 7px;
    font-size: 1rem;
    list-style: none;
    opacity: 0.5;
    width: auto;
    margin: 0.1rem;
}


.container > div > a{
    text-decoration: none;
    color: black;
}


.container > div:hover{
    .icons{
        opacity: 0.7;
        color:azure;
    }
    opacity: 1;
  
}
.toggle{
    display: none;
}



@media(max-width: 412px) {
   
    .container{
        position: fixed;
        top: 90%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        width: 200px;
        height: 20px;
        
    }

    .container > div{
        margin-top: -25px;
    }
    
}



.content{
   
    display: flex;
    background: rgb(255, 255, 255, 0);
    gap: 0;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


.turn-dark {
    color: white;
}



@media(max-width: 412px){
    .profile{
        width: 200px;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(16, 20px);
        grid-template-rows: repeat(8, 20px);
        gap: 1px;
    }
}

.detail{
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  

    /*glass*/
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
}

 
@media(max-width: 412px) {
    .detail{
        border-top-left-radius:10px;       
        border-top-right-radius:10px;
        border-bottom-left-radius:0px;
    }
    
}

.project-panel {
    z-index: 0;
    border-radius: 5px;
    overflow-x: hidden;
    padding: 1rem;
    position: absolute;
    top: 15%;
    left: 50%;
    
    transform: translate(-50%, -15%);

    
    background: none;
    width: 1200px;
    min-height: 100px;


   
}

.project-grid{
    display: block;
   

}




.cv{
    height: 2rem;
    border: none;
    border-radius: 3px;
}

.resume{
    display: grid;
    place-items: center;
}

.cv > a{
    text-decoration: none;
    color: white;    
}


.aboutme{
    padding: 1.5rem;
    background: rgb(0, 0, 0, 0.2);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.aboutme > p{
    text-align: left;
    font-size: 1rem;
}

.header{
    font-size: 1rem;
    text-decoration: underline;
}
.group{
    display: block;
    justify-content: space-around;
    width: 25rem;
   

    padding: 1rem;
    border-radius: 10px;
   
}



.one{
    font-size: .9rem;
    margin-top: .2rem;
    text-align: left;
}
.one:nth-child(1){
    background: rgb(0, 26, 255);
    width: fit-content;
    font-weight: 1px;
}
@media(max-width:412px) {
    .content{
        
        font-size: .5rem;
        display: block;
        width:100%;
    }
    .group{
        padding: 1rem;
        width: 300px;
    }
    .aboutme{
        padding: 1rem;
        width: 300px;
        font-size: .5rem;
    }
    .aboutme > p{
        font-size: .7rem;
    }

    

    
 
    .one{
        font-size: .7rem;
    }
}


.project{
    display: flex;
    font-size: 11px;
    gap: .5rem;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid orangered;
} 

.project-type{
    margin-top: 13px;
}

.icon{
    background-color: white;
    color: black;
    padding: .3rem;
    border-radius: 5px;
    size: 4;
}

.background-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25rem;
    opacity: 0.3;
}

.ui{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:5;
}

.programming-projects{
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    overflow: hidden; 
    height: auto;
}

.programming-project{
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    border: 1px solid black;
    border-radius: 9px;
    margin: 1rem;
  
    
    /* Test styles */
    background: rgba(94, 94, 94, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    height: auto; /* Allows growth based on content */
    min-height: 10rem; /* Ensures a minimum height */
    position: relative; /* Prevents absolute children from breaking layout */

    
}
.type{
    width: 10rem;
    height: 8rem;
    border: 1px solid white;
    padding: 1rem;
}

.details{
    padding: 0.09rem ;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    
}

.github-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px;
    font-style: 'Space Mono' monospace;
    text-decoration: none;
    font-size: .8rem;
    
}
@media(max-width: 412px){
 
    .project-panel{
        padding: .5rem;
        font-size: .5rem;
        width: 25rem;
    }

    .project-grid {
        display: block;
        
    }
    .type{
        display: none;
    }
    .details{
        display: block;
        padding: 0;
        width: 20rem;
       
    }
    .github-link  {
        position: relative;
        display: flex;
        justify-content: left;
        
    }
   .github-link a > .link{
        width: 7rem;
        position: relative;
   }
    .programming-projects {
        padding: 0.1rem; 
    }

    .programming-project {
        flex-direction: column; 
        align-items: center;
        padding: 1rem;
        width: 90%; 
        min-height: auto; 
        margin: 0;
        background-color: red;
    }

    .github-link {
        text-align: center;
    }
}
/* a > .link {
    position:absolute
} */


.floating-ui{
    background: black;
    border-radius: 7px;
    color:wheat;
}

.tools{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0;
    gap: .4rem;
    
}
.tools > li{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
    font-size: 9px;
    margin: 0;
    width: 5rem;
    text-align: center;
}



.description{
    font-size: 10px;
}
.name{
    font-weight: bolder;
    color:orangered;
    font-size: 2rem;
    margin:5px;
    margin-left: 0;
}
.github{
    font-size: 3rem;
}
.contacts{
    list-style: none;
}

.contacts > li{
    margin-top: 5px;
    border-radius: 5px;
}
.writeup-notes{
    position: fixed; /* Keeps it in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it */
    height: 600px;
    width: 800px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    padding: 4rem;
   
}
@media(max-width: 412px) {
    .writeup-notes {
        display: flex;
        flex-direction: column;
        align-items: center; /* centers the children horizontally */
        gap: 1px; /* space between the cards */
        padding: 40px;
        width: 300px;
        
    }
    
 
}



.writeup{
   
    font-size: 1rem;
    margin-top: 10px;
    
   
    list-style: none;
    height: 30px;
    font-style: normal;
   
    color: #4a4c54;
    margin-left: 1rem;
   

}
.topics{
    display: flex;
    gap: .5rem;
    border: none;
}


.topic-tag{
    
    background: #525252;
    border-radius: 6px;
   
    border-radius: .9rem;
    font-size: 9px;
    
    color:white; 
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: center; 
    width: auto;
    padding: .5rem;
    height: 1px;
    transition: transform 250ms;
}




.note-container{
    position: fixed; /* Keeps it fixed on the page */
    top: 20px;
    left: 20px;
    width: 850px; /* Adjust as needed */
    height: 80%; /* Adjust as needed */
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure it is below the .back-button */
    overflow-y: auto; /* Makes the content scrollable */
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.note-display {
    position: relative;
    display: flex;
    justify-content: center;
   
}

.note-display > h2{
    color: white;
    margin-top: 0;
} 

.back-button {
    background: none;
    position: sticky; 
    top: 10px; /* Remove quotes */
    left: 10px; /* Remove quotes */
    z-index: 1001; /* Ensure it is above the .note-container */
    border-radius: 9px;
    height: 1.6rem;
    width: 1.6rem;
    margin: 1rem;
    cursor: pointer;
    border: none;
    background: rgb(119, 117, 116);
    color: white;
}
.back-button:hover{
    background-color: black;
    transition: 1s ease-in-out;
}

.text-body{
    padding: 1rem;
}
.text-body > p{
    padding: 0;
}
.note-icon{
    margin-top:2px;
    margin-left: 1.5rem;
    padding: .8rem;
    
    border-radius: 6px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.notebook{
    border:1px solid grey;
    margin-top: 1rem;
    
    transition: transform 250ms;


    border-radius: 5px;
   
    display: flex;
    padding: 2px;
    gap: 1rem;
    width: 800px;
    height: 30px;

    
    
}
.notebook:hover{
    
    transform: translateX(-10px);
    border: 1px solid rgb(235, 81, 46, 0.4);
    background: rgb(235, 81, 46, 0.4);

    outline-offset: 15px;

    .topic-tag{
        
        background: white;
        /* font-weight: 400; */
    }
    
}

@media(max-width: 412px) {
    .notebook{
        width: 350px;
        height: 100px;
        
        padding: 5px;
        
    }
    .writeup{
        color:white;
        font-size: 1.5rem;
    }
    .topics{
        position: relative;
        margin-top:1rem ;
    }
    .note-icon{display: none;}
    .note-details{
        display: none;
    }

    .note-container{
        width: 300px;
        left: 0px;
        padding: 40px;
        
    }

}
.note-details{
    justify-content: center;
    align-items: center;
    display: flex;
}
@media(max-width: 412px) {
    .note-details{
        display: block;
    }
}
.floating-nav{
    position: fixed;
    top: 64%;
    left: 13%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-radius:5rem;
    padding:.5rem;
    width:5rem;
    z-index:1000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 412px){
    .floating-nav{
        position: fixed;
        top: 77%;
        left:68%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(233, 232, 231, 0.3);
        border-radius:5rem;
        padding:.5rem;
        width:1rem;
        z-index:1000000;
        display: block;
    }
}


.copy-button{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 1rem;
}





.access-que{
    display: none;
    position: absolute;
    top: 27%;
    left: 120%;
    transition: 1s ease;
    font-size: .7rem;
}
.light-que{
    display: none;
    position: absolute;
    top: 27%;
    left: 120%;
    transition: 1s ease;
    font-size: .7rem;
}
.colour-que{
    display: none;
    position: absolute;
    top: 27%;
    left: 120%;
    transition: 1s ease;
    font-size: .7rem;
}

.accessibility:hover{
    .access-que{
        display: block;
        transition: 2s ease-in-out;

    }
}
.toggle-light-dark:hover{
    .light-que{
        display: block;
        transition: 2s ease-in-out;

    }
}
.colour-picker:hover{
    .colour-que{
        display: block;
        transition: 2s ease-in-out;

    }
}
 
.theme{
    display: flex;
    padding: .5rem;
    justify-content: space-around;
    
    /*glass*/

    background: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    position: fixed;
    left: 45%;
    top:70%;
    transform: translate(-50%, -50%);
    z-index: 100000;
}

@media(max-width: 412px){
    .theme{
        position: fixed;
        left: 50%;
        top:5%;
    }
}

.theme > div{
    padding: .5rem ;
    margin-left: .5rem;
    width: .5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.function-que,.about-que, .home-que, .project-que, .notes-que{
    position: absolute;
    left: 120%;
    background:red;
    padding: .5rem;
    border-radius: .6rem;
    display: none;
}

.home-que{
    top: 7%;
}
.about-que{
    top: 27%;
}
.project-que{
    top: 45%;
}

.notes-que{
    top: 65%;
}
.function-que{
    top: 85%;
}

.home:hover{
    .home-que{
        display: block;
    }
}
.about:hover{
    .about-que{
        display: block;
    }
}
.projects:hover{
    .project-que{
        display: block;
    }
}

.note:hover{
    .notes-que{
        display: block;
    }
}
.access:hover{
    .function-que{
        display: block;
    }
}

@media(max-width : 412px) {


    .function-que,.about-que, .home-que, .project-que, .notes-que{
        /* display: flex; */
        position: absolute;
        left: 40%;
        top:140%;
        border-radius:.6rem;
        font-size: .6rem;

    }

    
}


