html,
body
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bdbdbd;
    
    /* background: #f7b77c; */
    color: black;
    user-select: none;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: "Roboto", serif; */
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
canvas{
    overflow-x: hidden;
}
@media(max-width: 412px) {
    body{
        overflow-x: hidden;
    }
}

.dark-mode{
    background: #3a3a3a;
    color: white;
}




.frame{
    height: 170px;
    width: 280px;
    border: 2px solid rgb(53, 51, 51);
    
    
}



.container{
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 4rem;
    font-size: .5rem;
    /* border: .1px solid black; */
    width: auto;
    
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(233, 232, 231, 0.3); */
    z-index: 1998;
} 

.container > div{
    text-align: center;
    padding: 7px;
    font-size: 1rem;
    list-style: none;
    opacity: 100;
    width: auto;
    margin: 0.1rem;
}


.container > div > a{
    text-decoration: none;
    color: black;
    
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.4);
    transition: text-shadow 0.2s ease;
}


.container > div:hover{
    .icons{
        opacity: 0.7;
        color:azure;
    }
    opacity: 1;
  
}
.toggle{
    display: none;
}

@media(max-width: 1080px){
    .container{
        position: fixed;
        top: 90%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 300px;
    }
    .container > div{
        margin-top: -18px;
    }
}

@media(max-width: 820px){
    .container{
        position: fixed;
        top: 90%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 300px;
    }
    .container > div{
        margin-top: -19px;
    }
}
@media(max-width: 768px){
    .container{
        position: fixed;
        top: 90%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 300px;
    }
    .container > div{
        margin-top: -18px;
    }
}

@media(max-width: 412px){
   
    .container{
        position: fixed;
        top: 96%;
        left: 50%;
        display: flex;
        justify-content: space-around;
        width: 300px;
        height: 30px;
        /* border:.1px solid white; */
        
        
        
    }

    .container > div{
        margin-top: -19px;
        opacity: 100;
    }
    
}





.content{
   
    display: flex;
    background: rgb(255, 255, 255, 0);
    gap: 0;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


.turn-dark {
    color: white;
}




.detail{
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  

    /*glass*/
    background: rgb(0, 0, 0, 0.2);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
}

 
@media(max-width: 412px){
    .detail{
        border-top-left-radius:10px;       
        border-top-right-radius:10px;
        border-bottom-left-radius:0px;
    }
    
}

.project-panel {
    z-index: 0;
    border-radius: 5px;
    overflow-x: auto;
    padding: 1rem;
    position: absolute;
    top: 150px;
    left: 50%;
    
    transform: translate(-50%, -15%);

    
    background: none;
    width: 1200px;
    min-height: 100px;


   
}

@media (min-width: 1024px){
    .project-panel{
        width: 35rem;
    }
    .details{
        width: 30rem;
    }
}
@media (min-width: 820px){
    .project-panel{
        width: 350rem;
    }
    .details{
        width: 30rem;
    }
}
@media (min-width: 768px){
    .project-panel{
        width: 35rem;
    }
    .details{
        width: 30rem;
    }
}






.project-grid{
    display: block;
    overflow-x: scroll;
    

}




.cv{
    height: 2rem;
    border: none;
    border-radius: 3px;
}

.resume{
    display: grid;
    place-items: center;
}

.cv > a{
    text-decoration: none;
    color: white;    
}


.aboutme{
    padding: 1.5rem;
    background: rgb(0, 0, 0, 0.2);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.aboutme > p{
    text-align: left;
    font-size: 1rem;
}

.header{
    font-size: 1rem;
    text-decoration: underline;
}
.group{
    display: none;
    justify-content: space-around;
    width: 25rem;
   

    padding: 1rem;
    border-radius: 10px;
   
}



.one{
    font-size: .9rem;
    margin-top: .2rem;
    text-align: left;
}
.one:nth-child(1){
    background: rgb(0, 26, 255);
    width: fit-content;
    font-weight: 1px;
}

@media(max-width: 1024px) {
    .aboutme{
        padding: 1rem;
        width: 300px;
        font-size: 2rem;
    }

    .aboutme > p {
        font-size: 1rem;
    }

 
}
@media(max-width: 820px) {
    .aboutme{
        padding: 1rem;
        width: 300px;
        font-size: .5rem;
    }

 
}

@media(max-width: 768px) {
    .aboutme{
        padding: 1rem;
        width: 250px;
        font-size: .5rem;
    }
}




@media(max-width:412px) {
    .content{
        
        font-size: .5rem;
        display: block;
        width:100%;
    }
    .group{
        display: block;
        padding: 1rem;
        width: 300px;
    }
    .aboutme{
        padding: 1rem;
        width: 315px;
        font-size: .5rem;
        border-radius: 0;
        
    }
    .aboutme > p{
        font-size: .7rem;
    }

    .one{
        font-size: .7rem;
    }
}





.project{
    display: flex;
    font-size: 11px;
    gap: .5rem;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid orangered;
} 

.project-type{
    margin-top: 13px;
}

.icon{
    background-color: white;
    color: black;
    padding: .3rem;
    border-radius: 5px;
    size: 4;
}



.ui{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:5;
    padding: 10px;

    background: rgb(0, 0, 0, 0.2);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-radius: 10px;
    
}
.ui-projects{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:5;
    padding: 10px;

    background: rgb(0, 0, 0, 0.2);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-radius: 10px;
    
}

@media(max-width: 412px){
    .ui-projects{
        width: 350px;
        height: 650px;
        overflow-x: hidden;
        overflow-y: scroll;
        
    }
  
}

.just-for-bg{
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.programming-projects{
    display: flex;
    flex-direction: column; 
    overflow: auto; 
    height: auto;

}


.programming-project{
    padding: .5rem;
    margin-top: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    border: 1px solid black;
    border-radius: 9px;
    margin: .2rem;
    font-size: 1rem;
  
    
    background: rgb(0, 0, 0, 0.6);

    
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    
    height: auto;
    min-height: 10rem; 
    position: relative; 

    
}


.type{
    width: 1rem;
    height: 8rem;
    padding: none;
}

.details{
    padding: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    
}

.github-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px;
    font-style: 'Space Mono' monospace;
    text-decoration: none;
    font-size: .8rem;
    
}


@media (max-width: 412px), (max-width:820px), (max-width:1024px), (max-width:1080px){
 
    .project-panel{
        padding: .5rem;
        font-size: .5rem;
        width: 24rem;
    }

    .project-grid {
        display: block;
        
    }
    .type{
        display: none;
    }
    .details{
        display: block;
        padding: 0;
        width: 20rem;
       
    }
    .github-link  {
        position: relative;
        display: flex;
        justify-content: left;
        
    }
   .github-link a > .link{
        width: 7rem;
        position: relative;
   }
    .programming-projects {
        padding: 0.1rem; 
        
    }

    .programming-project {
        flex-direction: column; 
        align-items: center;
        padding: 0.7rem;
        width: auto; 
        min-height: auto; 
        margin: 0;
        
    }

    .github-link {
        text-align: center;
    }
}


.floating-ui{
    background: black;
    border-radius: 7px;
    color:wheat;
}

.tools{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0;
    gap: .4rem;
    font-size: 1rem;
    
}
.tools > li{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
    font-size: 9px;
    margin: 0;
    width: 5rem;
    text-align: center;
}



.description{
    font-size: 13px;
    color: white;
}
.name{
    font-weight: bolder;
    color:orangered;
    font-size: 2rem;
    margin:5px;
    margin-left: 0;
}
.github{
    font-size: 3rem;
}
.contacts{
    list-style: none;
}

.contacts > li{
    margin-top: 5px;
    border-radius: 5px;
}
.writeup-notes{
    position: fixed; /* Keeps it in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it */
    height: 600px;
    width: 800px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    padding: 4rem;
   
}

 @media(max-width: 1080px){
        .writeup-notes {
            width: 600px;
            padding: 20px;
            border-radius: 10px;
            height: 400px;
    }
 }

 @media(max-width: 820px){
        .writeup-notes {
            width: 600px;
            padding: 40px;
            height: 600px;
    }
 }
 @media(max-width: 768px){
        .writeup-notes {
            width: 600px;
            padding: 40px;
            height: 600px;
    }
 }
@media(max-width: 412px){
    .writeup-notes {
        display: flex;
        flex-direction: column;
        align-items: center; /* centers the children horizontally */
        gap: 1px; /* space between the cards */
        padding: 40px;
        width: 300px;
        height: 600px;
    }
}


.writeup{
   
    font-size: 1rem;
    margin-top: 10px;
    
   
    list-style: none;
    height: 30px;
    font-style: normal;
   
    color: #4a4c54;
    margin-left: 1rem;
   

}
.topics{
    display: flex;
    gap: .5rem;
    border: none;
}


.topic-tag{
    
    background: #525252;
    border-radius: 6px;
   
    border-radius: .9rem;
    font-size: .7rem;
    
    color:white; 
    font-style: normal;
    font-weight: 500;
    
    margin-left: 1rem;
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: center; 
    width: auto;
    padding: .6rem;
    height: 1px;
    transition: transform 250ms;
}




.note-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1200px;        /* 90% of the viewport width */
   
    height: 90vh;       /* 90% of viewport height */
    padding: 1rem;
    z-index: 9999;
    overflow-y: auto;
    border-radius: 6px;


    
    background: rgba(58, 58, 58, 0.9);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
}



.note-container::-webkit-scrollbar {
  width: 7px;
  
}

.note-container::-webkit-scrollbar-track {
  background: rgba(248, 51, 2, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.note-container::-webkit-scrollbar-thumb {
  background-color: rgba(238, 82, 10, 0.9);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}


@media (max-width: 412px) {
    .note-container {
        width: 100px;
        height: 100vh;
        padding: 1rem;
        top: -10%;
        left: 0;
        transform: none;
        position: fixed;
        border-radius: 0;

    }
}

   


.note-display {
    position: relative;
    display: flex;
    justify-content: center;
   
}

.note-display > h2{
    color: white;
    margin-top: 0;
} 

.back-button {
    background: none;
    position: sticky; 
    top: 11px; 
    left: 10px; 
    z-index: 1001;
    border-radius: 9px;
    height: 1.6rem;
    width: 1.6rem;
    margin: 1rem;
    cursor: pointer;
    border: none;
    background: rgb(119, 117, 116);
    color: white;
}
.back-button:hover{
    background-color: white;
    transition: 1s ease-in-out;
}

.text-body{
    padding: 1rem;
}
.text-body > p{
    padding: 0;
}
.note-icon{
    margin-top:2px;
    margin-left: 1.5rem;
    padding: .8rem;
    
    border-radius: 6px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.notebook{
    border:1px solid grey;
    margin-top: 1rem;
    transition: transform 250ms;
    border-radius: 5px;
    display: flex;
    padding: 2px;
    gap: 1rem;
    width: 800px;
    height: 30px;

    
    
}
.notebook:hover{
    
    transform: translateX(-10px);
    border: 1px solid rgb(235, 81, 46, 0.4);
    background: rgb(235, 81, 46, 0.4);

    outline-offset: 15px;

    .topic-tag{
        background: white;
    }
    
}

@media (max-width: 1024px){
    .notebook{
        width: 600px;
    }
    .note-container{
        width: 800px;
        left: 50%;
        padding: 40px;
    }
    .topic-tag{
        font-size: 10px;
    }
}
@media (max-width: 1080px){
    .notebook{
        width: 600px;
    }
    .note-container{
        width: 750px;
        left: 50%;
        padding: 40px;
    }
    .topic-tag{
        font-size: 10px;
    }
}


@media (max-width: 820px){
    .notebook{
        width: 600px;
    }
    .note-container{
        width: 600px;
        left: 50%;
        padding: 40px;
    }
}

@media (max-width: 768px){
    .notebook{
        width: 600px;
    }
    .note-container{
        width: 600px;
        left: 50%;
        padding: 40px;
    }
    .topic-tag{
        font-size: 10px;
    }
}

@media(max-width: 412px) {
    .notebook{
        width: 300px;
        height: 90px;
        padding: 5px;
        
    }
    .back-button{
        top: 110px;
    }
    .writeup{
        color:white;
        font-size: 1.5rem;
    }
    .topics{
        position: relative;
        margin-top:1rem;
        font-size: 3rem;
    }
    .topic-tag{
        font-size: 14px;
        
    }
    .note-icon{display: none;}
    .note-details{
        display: none;
    }

     .note-container {
        position: fixed;
        top: -10%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90vw;         
        max-width: 350px;     
        height: 1200px;         
        padding: 1rem;        
        overflow-y: auto;
        
        border-radius: 8px;
    }

}

.writeup-date{
    color: white;
    margin-left: 9px;
    font-family: "Lato", sans-serif;
}


.note-details{
    justify-content: center;
    align-items: center;
    display: flex;
}
@media(max-width: 412px) {
    .note-details{
        display: block;
    }
}
.floating-nav{
    position: fixed;
    top: 62%;
    left: 13%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(5px);
    border-radius:5rem;
    padding:.5rem;
    width:5rem;
    height: 1.5rem;
    
    z-index:1000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media(max-width: 412px), (max-width: 768px), (max-width: 820px), (max-width: 1080px){
    .floating-nav{
        position: fixed;
        top: 77%;
        left:68%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(233, 232, 231, 0.3);
        border-radius:5rem;
        padding:.5rem;
        width:1rem;
        height:4rem;
        z-index:1000000;
        display: flex;
        flex-direction: column;
        align-items: center;  /* optional, centers items horizontally */
        gap: 1rem;  
    }
}
@media(max-width: 1080px){
    .floating-nav{
        left: 60%;
        top: 75%;
    }
    
}
@media(max-width: 820px){
    .floating-nav{
        left: 64%;
        top: 79%;
    }
    
}
@media(max-width: 768px){
    .floating-nav{
        left: 64%;
    }
    
}
@media(max-width: 412px){
    .floating-nav{
        left: 77%;
        top: 80%;
        
    }
    
}



.copy-button{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.light-que{
    display: none;
    position: absolute;
    top: 27%;
    left: 120%;
    transition: 1s ease;
    font-size: .7rem;
}
.colour-que{
    display: none;
    position: absolute;
    top: 27%;
    left: 120%;
    transition: 1s ease;
    font-size: .7rem;
}


.toggle-light-dark:hover{
    .light-que{
        display: block;
        transition: 2s ease-in-out;

    }
}
.colour-picker:hover{
    .colour-que{
        display: block;
        transition: 2s ease-in-out;

    }
}
 
.theme{
    display: flex;
    padding: .5rem;
    justify-content: space-around;
    
    /*glass*/

    background: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(214, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 232, 231, 0.3);
    position: fixed;
    left: 45%;
    top:70%;
    transform: translate(-50%, -50%);
    z-index: 100000;
}

@media(max-width: 412px), (max-width: 768px), (max-width: 1080px){
    .theme{
        position: fixed;
        left: 50%;
        top:5%;
    }
}
@media (max-width: 820px){
    .theme{
        top: 10%;
    }
}
@media (max-width: 768px){
    .theme{
        top: 10%;
    }
}

.theme > div{
    padding: .5rem ;
    margin-left: .5rem;
    width: .5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.function-que,.about-que, .home-que, .project-que, .notes-que{
    position: absolute;
    left: 120%;
    background:red;
    padding: .5rem;
    border-radius: .6rem;
    display: none;
}

.home-que{
    top: 7%;
}
.about-que{
    top: 27%;
}
.project-que{
    top: 45%;
}

.notes-que{
    top: 65%;
}
.function-que{
    top: 85%;
}

.home:hover{
    .home-que{
        display: block;
    }
}
.about:hover{
    .about-que{
        display: block;
    }
}
.projects:hover{
    .project-que{
        display: block;
    }
}

.note:hover{
    .notes-que{
        display: block;
    }
}


@media(max-width : 412px) {


 
    .function-que,.about-que, .home-que, .project-que, .notes-que{
     
        position: absolute;
        top:-100%;
        border-radius:.6rem;
        font-size: .6rem;

    }
    .home-que{
        left: 5%;
        border-radius:.6rem;
        font-size: .6rem;

    }
    .about-que{
        left: 25%;
        border-radius:.6rem;
        font-size: .6rem;

    }
    .project-que{
        left: 40%;
        border-radius:.6rem;
        font-size: .6rem;

    }
    .notes-que{
        left: 60%;
        border-radius:.6rem;
        font-size: .6rem;

    }


    
}

.folder-section{
    padding: 1rem;
    
}



.note-list-indented {
  border-left: 2px solid rgba(255, 0, 0, 0.9);
  padding-left: 1rem;
}

@media(max-width: 412px) {
    .note-list-indented{
        padding-left: 0;
    }
}

.socials-list a {
    color: white; 
    text-decoration: none; 
    transition: transform 0.2s ease, color 0.2s ease;
}

.socials-list :hover {
   transform: translateY(-3px);
}


.socials-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.socials-list > li{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: .5rem;
}

.fourofour{
    color: white;
    font-size: 3rem;
    background: none;
}

.show-copied {
    width: fit-content;
    padding: .5rem;
    border-radius: 8px;
}


.highlighted svg{
    fill: white;
    
}